<section class="dashboard-main">
  <h1> <%= user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= user.full_name %> </li>
    <li> <%= user.email %> </li>
    <li>Status: <%= user.status.capitalize%> </li>
  </ul>
  <% if user.token %>
    <%= button_to "Send an Invite", invite_path, method: :get %>
    <section id="repositories">
      <h2>Repositories</h2>
      <% if !user.repos.empty? %>
        <% user.repos.each do |repo| %>
          <%= link_to repo.name.capitalize, repo.url, class: 'github-repo' %>
        <% end %>
      <% else %>
        <p>You don't have any Github repositories</p>
      <% end %>
    </section>
    <section id="followers">
      <h2>Followers</h2>
      <% if !user.followers.empty? %>
        <% user.followers.each do |follower| %>
          <section id="follower-links-<%= follower.gh_id %>">
            <%= link_to follower.name.capitalize, follower.url, class: 'github-follower' %>
            <%= link_to "Add Friend", add_friend_path(follower.gh_id) if follower.account? && !user.friends_with?(follower) %>
          </section>
          <% end %>
      <% else %>
        <p>You don't have any Github followers</p>
      <% end %>
    </section>
    <section id="following">
      <h2>Following</h2>
      <% if !user.following.empty? %>
        <% user.following.each do |following| %>
          <section id="following-links-<%= following.gh_id %>">
            <%= link_to following.name.capitalize, following.url, class: 'github-following' %>
            <%= link_to "Add Friend", add_friend_path(following.gh_id) if following.account? && !user.friends_with?(following) %>
          </section>
        <% end %>
      <% else %>
        <p>You aren't following anyone on Github</p>
      <% end %>
    </section>
    <section id="friends">
      <h2>Friends</h2>
      <% if !user.friends.empty? %>
        <% user.friends.each do |friend| %>
         <p><%= friend.full_name %></p>
        <% end %>
      <% else %>
        <p>You aren't friends with anyone</p>
      <% end %>
    </section>
  <% elsif current_user.default? %>
    <p>You are not connected through GitHub!</p>
    <%= button_to 'Connect to Github', "/auth/github", class: 'btn btn-primary mb1 bg-teal' %>
  <% end %>

  <section class = "bookmarks" >
    <h2>Bookmarked Segments</h2>
    <% if !user.user_videos.empty? %>
      <% user.bookmarks.keys.each do |tutorial_id| %>
        <section class = "tutorial-<%= tutorial_id %>">
        <h3><%= Tutorial.find(tutorial_id).title %></h3>
        <% user.bookmarks[tutorial_id].each do |video| %>
          <li class = "video-<%= video.position %>">
            <%= link_to video.title, "/tutorials/#{tutorial_id}?video_id=#{video.id}" %>
          </li>
        <% end %>
      </section>
      <% end %>
    <% end %>
  </section>
